    <form id="searchForm" role="form" method="post" >
        {# BASE #}
        <div class="row my-2">
            <div class="col">
                <div class="form-group">
                    <label for="npiNumber">NPI Number</label>
                    <input type="text" name="npiNumber" value=""class="form-control" id="npiNumber" aria-describedby="npiNumberlHelp">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="npiType">NPI Type</label>
                    <input type="text" name="npiType" class="form-control" id="npiType" >
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="npiTaxonomyDescription">Taxonomy Description</label>
                    <input type="text" name="npiTaxonomyDescription" class="form-control" id="npiTaxonomyDescription" >
                </div>
            </div>
        </div>


        {# INDIVIDUAL #}
        <div class="row my-2">
            <div class="col">
                <div class="form-group">
                    <label for="providerFirstName">Provider First Name</label>
                    <input type="text" name="providerFirstName" class="form-control" id="providerFirstName" >
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="providerLastName">Provider Last Name</label>
                    <input type="text" name="providerLastName" class="form-control" id="providerLastName" >
                </div>
            </div>
        </div>

        {# ORGANIZATION #}
        <div class="row my-2">
            <div class="col-6">
                <div class="form-group">
                    <label for="organizationName">Organization Name (LBN, DBA, Former LBN or Other Name)</label>
                    <input type="text" name="organizationName" class="form-control" id="organizationName" >
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="aoFirstName">Authorized Official First Name</label>
                    <input type="text" name="aoFirstName" class="form-control" id="aoFirstName" >
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="aoLastName">Authorized Official Last Name</label>
                    <input type="text" name="aoLastName" class="form-control" id="aoLastName" >
                </div>
            </div>
        </div>


        {# LOCATION #}
        <div class="row my-2">
            <div class="col">
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" name="city" class="form-control" id="city" >
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" name="state" class="form-control" id="state" >
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" name="country" class="form-control" id="country" >
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="postalCode">Postal Code</label>
                    <input type="text" name="postalCode" class="form-control" id="postalCode" >
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="addressType">Address Type</label>
                    <input type="text" name="addressType" class="form-control" id="addressType" >
                </div>
            </div>
        </div>

        <div class="form-group my-3">
            <button id=sendSearchForm type="submit" class="btn btn-info" title="Search">
                Search
            </button>
        </div>

    </form>
