<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}NPI Registry{% endblock %}</title>

    {% block header %}  {% endblock %}

    {% block module_stylesheets %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block footer %}{% endblock %}

{% block module_javascripts %}
{% endblock %}
</body>
</html>