{% extends 'base-layout-tbs-5.html.twig' %}

{% block main %}
    <div class="row mt-5 justify-content-center">
        <h3 class="text-center">Sorry!!! Not Found!!</h3>
        <div class="col-3 my-5">
            <a href="/interface/modules/custom_modules/oe-module-npi-registry/public/" class="btn btn-outline-secondary btn-md d-block m-1 text-start" role="button">
                <i class="bi bi-arrow-left-circle-fill"></i> Back to module
            </a>
        </div>
    </div>
{% endblock %}
