<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/interface/modules/custom_modules/oe-module-npi-registry/public/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        {#        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>#}
        <span class="fs-4">{{ module.name }}</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/interface/modules/custom_modules/oe-module-npi-registry/public/search" class="nav-link">Search</a></li>
{#        <li class="nav-item"><a href="/interface/modules/custom_modules/oe-module-npi-registry/public/faq" class="nav-link">FAQs</a></li>#}
        <li class="nav-item"><a href="/interface/modules/custom_modules/oe-module-npi-registry/public/about" class="nav-link">About</a></li>
    </ul>
</header>
